header {
	padding-top: 40px;
	background-color: #0099ff;
	padding-bottom: 20px;
}

header img{
	display: block;
	margin-left:auto;
	margin-right: auto;
	height:35px;
}

body {
	background-color: #0099ff;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.analogseaform { 
	margin-right: auto;
	margin-left: auto; 
	display: block;
	border:none;
}

.whitebox {
	background-color: white;
	width: 400px;
	padding:40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;

}
fieldset{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 320px;

}

label {
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-bottom: 15px;
}

input {
	display: block;
	height: 21px;
	width: 286px;
	border:2px solid lightgrey;
	padding:15px;
	margin-bottom:15px;
}

h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
}

button {
	display: block;
	height: 21px;
	width: 320px;
	border:2px solid lightgrey;
	padding:15px;

}
.signup {
	background-color: green;
	color:white;
	padding-bottom: 30px;
	font-family: montserrat;

}

.Forgot {
	display: block;
	font-size: small;
		width: 100px;
}


a {
	padding-top: 15px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}

.already {
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-size: small;
	font-family: helvitica;
	color: white;
	text-align: center;
	}
.already a {
	display: inline;
	font-size: small;
	font-family: helvitica;
	color: white;

}





